body {
    	background: #00a651;
    	text-align: center;
    	background-color: white;
    	color: black;
	}

.height6em{
    height: 10em;
}

.container{
    width: 80%;
    margin: 0 auto;
    position:relative;
}

#card{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.texth1{
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.margin10TopBottom{
    margin-top: 10%;
    margin-bottom: 10%;
}

.cardHolder{
    display: table;
    text-align: center;
    margin: 0 auto;
    color: #555555;
    width: 80%;
    border: 3px solid #BBBBBB;
    border-radius: 10px;
}


.button{
/*    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;*/
}


.footer {   
	position:absolute;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background:#999;
}

