body{

}
#MuliplayerLogin{
	display: flex;
}

#LoginButtons{
	display: block;
}

#host_form{
	display: none;
}
#join_form{
	display: none;
}

#gameBoard{
	display: none;
}

#responcelist{
	display: none;
}

.button{
	padding: 10px 15px;
	/*background: #4479BA;*/
	/*color: #FFF;*/
	width: 50px;
	margin: 10px;
	text-align: center;

	color: #555555;
	
	border: 1px solid #BBBBBB;
    border-radius: 5px;
}

.button:hover{
	color: #333333;
	border: 1px solid #888888;
}

li{
}