html, body {
    	background: #00a651;
    	text-align: center;
    	background-color: white;
    	color: black;
        margin:0;
        height: 100%;
}

.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.height6em{
    height: 10em;
}

.container{
    margin: 0 auto;
    position:relative;
}

#card{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#cardID{
    display: inline-block; 
    float: left;
}

.texth1{
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.margin10TopBottom{
    margin-top: 10%;
    margin-bottom: 10%;
}

.cardHolder{
    display: table;
    text-align: center;
    margin: 0 auto;
    color: #555555;
    width: 80%;
    border: 3px solid #BBBBBB;
    border-radius: 10px;
}



footer {   
	/*position:absolute;*/
	/*left:0px;*/
	/*bottom:0px;*/
	/*height:30px;*/
    line-height: 30px;
	width:100%;
	background:#999;
    height: 30px;
    margin-top: -30px;
}


.buttonHolder{
    margin: 0 auto;
    width: 310px;
}
.right{
    float: right;
}
.left{
    float: left;
}

.button{
    padding: 10px 15px;
    margin: 10px;
    text-align: center;

    color: #555555;
    
    border: 1px solid #BBBBBB;
    border-radius: 5px;

    width:100px;
    height: 50%;
}

button:hover{
    color: #333333;
    border: 1px solid #888888;
}
